.header {
    padding: 20px 10px;
    width: 100%;
    align-items: center;
}

.button {
    background-color: #434BE5;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
}

.logout {
    color: rgb(58, 58, 58);
    background-color: white;
    font-weight: 500;
    border: 1px solid #434BE5;
    border-radius: 8px;
    padding: 12px 30px;
    margin-left: 20px;
}

@media (max-width:768px) {
    .header h2 {
        font-size: 18px;
        margin: 0;

    }

    .button {
        background-color: #434BE5;
        color: white;
        border: 0;
        border-radius: 8px;
        padding: 10px 10px;
        font-size: 12px;
    }

    .logout {
        padding: 10px 10px;
        margin-left: 5px;
        font-size: 12px;
    }
}