.user img {
    width: 50px;
    border-radius: 50px;
}

.user input {
    border: 0;
    background-color: rgba(80, 180, 80, 0.178);
    border-radius: 8px;
    padding: 6px 10px;
}

.text {
    width: 25%;
}

.icon {
    padding: 0 10px;
    cursor: pointer;
}